.container {
   text-align: center;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffe6e6;
    font-family: Arial, sans-serif;
}
h1{
    margin-top: 30px;
}
.btn{
    position: relative;
    margin-top: 40px;
}

a{
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    background: #efa2a2;
}
#no{
    position: absolute;
}